@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	font-family: "Roboto"
}

h1{
	font-size: 30px;
	text-align: center;
	padding: 20px;
}

info{
	font-size: 15px;
	text-align: center;
	padding: 20px;
}

main {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: repeat(6, 300px);
  gap: 20px;
  margin-top: 44px;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-auto-rows: 500px;
	margin: auto;
}


nav ul{
	background-color: #0099FF;
	padding:10px;
	width:25%;
	border: 3px solid #000000;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
	width: 20%;
	text-align: center;
}

.active{
	background: #FFA500;
  text-transform: uppercase;
	text-align: center;
}


.item {
  width: 200px;
	border: 3px solid #000000;
	border-radius: 10px;
	padding: 10px;
}

.item:hover {
	border: 3px solid #FFA500;
}

.description {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #4a4a4a;
}

.contact{
	text-align: center;
}

form{
	display: flex;
	flex-wrap: wrap;
	background-image: url("../images/YzyPrint.png");
	background-color: #f1f1f1;
	color: red;
	border: 1px solid red;
	font-size: 50;
}

a.skip{
  background: white;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  /* Requirement 3 code here*/
  position: absolute; left: -500px;
}

a.skip:focus{
text-align: left;
position: absolute; left:0px; top:20px;
border-top: 2px solid yellow;
}

@media screen and (min-width: 1024px){
	main {
	  grid-template-columns: 250px 250px 250px;
}

@media screen and (min-width: 1280px){
	main {
	  grid-template-columns: 250px 250px 250px 250px;
}
}
